{
  "openapi": "3.1.0",
  "info": {
    "title": "Counted API",
    "version": "0.1.0",
    "description": "Privacy-first analytics API. No cookies, no fingerprinting, no PII.",
    "contact": {
      "email": "hello@counted.dev"
    },
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://app.counted.dev/api/v0",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000/api/v0",
      "description": "Local"
    }
  ],
  "tags": [
    {
      "name": "Ingestion",
      "description": "Send events from your app"
    },
    {
      "name": "Projects",
      "description": "Manage projects and keys"
    },
    {
      "name": "Query",
      "description": "Query event data"
    },
    {
      "name": "Dashboards",
      "description": "Manage dashboards"
    },
    {
      "name": "Alerts",
      "description": "Threshold-based notifications"
    }
  ],
  "paths": {
    "/event": {
      "post": {
        "tags": [
          "Ingestion"
        ],
        "summary": "Ingest events",
        "description": "Send one or more events. Accepts a single event object or an array of up to 50 events. Returns 202 immediately — events are buffered.",
        "security": [
          {
            "projectKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Event"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Event"
                    },
                    "maxItems": 50
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List projects",
        "security": [
          {
            "session": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects the user has access to",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Project"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Create a project",
        "security": [
          {
            "session": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}": {
      "patch": {
        "tags": [
          "Projects"
        ],
        "summary": "Update a project",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Delete a project",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/projects/{id}/schema": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "Get project schema",
        "description": "Returns event names, property keys, and system field values observed in this project. Used for building queries.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "responses": {
          "200": {
            "description": "Project schema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectSchema"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}/export": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "Export events",
        "description": "Download events as JSON or CSV.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv"
              ],
              "default": "json"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10000,
              "maximum": 100000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventRow"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}/keys": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Rotate API keys",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "client",
                      "server"
                    ],
                    "default": "client"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "clientKey": {
                      "type": "string"
                    },
                    "serverKey": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/query": {
      "post": {
        "tags": [
          "Query"
        ],
        "summary": "Execute a query",
        "description": "Run an analytics query against event data. Supports aggregations, filters, group by, and time bucketing.",
        "security": [
          {
            "session": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "projectId",
                  "query"
                ],
                "properties": {
                  "projectId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "query": {
                    "$ref": "#/components/schemas/InsightQuery"
                  },
                  "timeRange": {
                    "$ref": "#/components/schemas/TimeRange"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "totalEvents": {
                          "type": "integer"
                        },
                        "executionMs": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dashboards": {
      "get": {
        "tags": [
          "Dashboards"
        ],
        "summary": "List dashboards",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of dashboards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dashboard"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Create a dashboard",
        "security": [
          {
            "session": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "projectId",
                  "name",
                  "slug"
                ],
                "properties": {
                  "projectId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "layout": {
                    "type": "object"
                  },
                  "isDefault": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created dashboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          }
        }
      }
    },
    "/dashboards/{id}": {
      "put": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Update a dashboard",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "slug": {
                    "type": "string"
                  },
                  "layout": {
                    "type": "object"
                  },
                  "isDefault": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated dashboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Delete a dashboard",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          }
        }
      }
    },
    "/dashboards/{id}/share": {
      "post": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Enable public sharing",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Share token generated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "shareToken": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Disable public sharing",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sharing disabled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "shareToken": {
                      "type": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/alerts": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "summary": "List alerts",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of alerts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Alert"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Alerts"
        ],
        "summary": "Create an alert",
        "security": [
          {
            "session": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "projectId",
                  "name",
                  "metric",
                  "condition",
                  "threshold"
                ],
                "properties": {
                  "projectId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "name": {
                    "type": "string"
                  },
                  "metric": {
                    "type": "string",
                    "description": "\"count\", \"unique_sessions\", or a custom property name for sum"
                  },
                  "eventFilter": {
                    "type": "string"
                  },
                  "condition": {
                    "type": "string",
                    "enum": [
                      "above",
                      "below"
                    ]
                  },
                  "threshold": {
                    "type": "number"
                  },
                  "window": {
                    "type": "string",
                    "enum": [
                      "1h",
                      "24h",
                      "7d",
                      "30d"
                    ],
                    "default": "1h"
                  },
                  "channels": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "email",
                        "slack"
                      ]
                    },
                    "default": [
                      "email"
                    ]
                  },
                  "slackWebhookUrl": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created alert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Alerts"
        ],
        "summary": "Update an alert",
        "security": [
          {
            "session": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "enabled": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string"
                  },
                  "threshold": {
                    "type": "number"
                  },
                  "condition": {
                    "type": "string",
                    "enum": [
                      "above",
                      "below"
                    ]
                  },
                  "window": {
                    "type": "string"
                  },
                  "channels": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "slackWebhookUrl": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated alert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Alerts"
        ],
        "summary": "Delete an alert",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted"
          }
        }
      }
    },
    "/dashboard-data": {
      "post": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Load dashboard data",
        "description": "Fetch all insight data for a project's default or specified dashboard.",
        "security": [
          {
            "session": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "projectId"
                ],
                "properties": {
                  "projectId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "dashboardId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "timeRange": {
                    "$ref": "#/components/schemas/TimeRange"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dashboard data with resolved insights",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "insights": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Insight"
                      }
                    },
                    "dashboardId": {
                      "type": "string",
                      "format": "uuid",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/events-list": {
      "get": {
        "tags": [
          "Query"
        ],
        "summary": "List recent events",
        "description": "Returns the 100 most recent events, optionally filtered by project.",
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter to a specific project. Can be repeated for multiple projects."
          }
        ],
        "responses": {
          "200": {
            "description": "Recent events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EventRow"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "projectKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Project-Key",
        "description": "Client key (ck_...) for event ingestion only"
      },
      "session": {
        "type": "apiKey",
        "in": "cookie",
        "name": "better-auth.session_token",
        "description": "Session cookie from authentication"
      }
    },
    "parameters": {
      "ProjectId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "schemas": {
      "Event": {
        "type": "object",
        "required": [
          "eventName",
          "sessionId"
        ],
        "properties": {
          "eventName": {
            "type": "string",
            "maxLength": 200
          },
          "sessionId": {
            "type": "string",
            "maxLength": 100
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "props": {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ]
            },
            "maxProperties": 50
          },
          "systemProps": {
            "type": "object",
            "properties": {
              "osName": {
                "type": "string"
              },
              "osVersion": {
                "type": "string"
              },
              "locale": {
                "type": "string"
              },
              "appVersion": {
                "type": "string"
              },
              "deviceModel": {
                "type": "string"
              },
              "isDebug": {
                "type": "boolean"
              },
              "sdkVersion": {
                "type": "string"
              }
            }
          }
        }
      },
      "EventRow": {
        "type": "object",
        "properties": {
          "event_name": {
            "type": "string"
          },
          "session_id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "os_name": {
            "type": "string",
            "nullable": true
          },
          "locale": {
            "type": "string",
            "nullable": true
          },
          "props": {
            "type": "object"
          },
          "project_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "clientKey": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Dashboard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "layout": {
            "type": "object"
          },
          "isDefault": {
            "type": "boolean"
          },
          "shareToken": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Alert": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "metric": {
            "type": "string"
          },
          "eventFilter": {
            "type": "string",
            "nullable": true
          },
          "condition": {
            "type": "string",
            "enum": [
              "above",
              "below"
            ]
          },
          "threshold": {
            "type": "string"
          },
          "window": {
            "type": "string"
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "enabled": {
            "type": "boolean"
          },
          "lastTriggeredAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastValue": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Insight": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "metric",
              "timeseries",
              "breakdown",
              "funnel",
              "retention"
            ]
          },
          "title": {
            "type": "string"
          },
          "span": {
            "type": "integer",
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "data": {
            "type": "object"
          },
          "query": {
            "$ref": "#/components/schemas/InsightQuery"
          }
        }
      },
      "InsightQuery": {
        "type": "object",
        "properties": {
          "measure": {
            "oneOf": [
              {
                "type": "string",
                "enum": [
                  "count",
                  "unique_sessions",
                  "unique_users"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "property": {
                    "type": "string"
                  },
                  "aggregation": {
                    "type": "string",
                    "enum": [
                      "sum",
                      "avg",
                      "min",
                      "max"
                    ]
                  }
                }
              }
            ]
          },
          "eventFilter": {
            "type": "object",
            "properties": {
              "names": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "properties": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PropFilter"
                }
              }
            }
          },
          "series": {
            "type": "array",
            "description": "Additional series plotted alongside the primary measure (timeseries queries only). Each runs as its own bucketed query and is merged onto a shared time axis.",
            "items": {
              "type": "object",
              "required": [
                "measure"
              ],
              "properties": {
                "label": {
                  "type": "string"
                },
                "measure": {
                  "oneOf": [
                    {
                      "type": "string",
                      "enum": [
                        "count",
                        "unique_sessions",
                        "unique_users"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "property": {
                          "type": "string"
                        },
                        "aggregation": {
                          "type": "string",
                          "enum": [
                            "sum",
                            "avg",
                            "min",
                            "max"
                          ]
                        }
                      }
                    }
                  ]
                },
                "eventFilter": {
                  "type": "object",
                  "properties": {
                    "names": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "properties": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PropFilter"
                      }
                    }
                  }
                }
              }
            }
          },
          "groupBy": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "property",
                    "system",
                    "time"
                  ]
                },
                "key": {
                  "type": "string"
                }
              }
            }
          },
          "timeBucket": {
            "type": "string",
            "enum": [
              "hour",
              "day",
              "week",
              "month"
            ]
          },
          "limit": {
            "type": "integer"
          },
          "funnelSteps": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "retentionPeriod": {
            "type": "string",
            "enum": [
              "day",
              "week",
              "month"
            ]
          },
          "retentionPeriods": {
            "type": "integer"
          }
        }
      },
      "PropFilter": {
        "type": "object",
        "required": [
          "field",
          "operator",
          "value"
        ],
        "properties": {
          "field": {
            "type": "string"
          },
          "operator": {
            "type": "string",
            "enum": [
              "eq",
              "neq",
              "contains",
              "gt",
              "lt",
              "in"
            ]
          },
          "value": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          }
        }
      },
      "TimeRange": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "type",
              "value",
              "unit"
            ],
            "properties": {
              "type": {
                "const": "relative"
              },
              "value": {
                "type": "integer"
              },
              "unit": {
                "type": "string",
                "enum": [
                  "hours",
                  "days",
                  "weeks",
                  "months"
                ]
              }
            }
          },
          {
            "type": "object",
            "required": [
              "type",
              "start",
              "end"
            ],
            "properties": {
              "type": {
                "const": "absolute"
              },
              "start": {
                "type": "string",
                "format": "date-time"
              },
              "end": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "ProjectSchema": {
        "type": "object",
        "properties": {
          "eventNames": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "count": {
                  "type": "integer"
                }
              }
            }
          },
          "propKeys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "numericPropKeys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "systemFields": {
            "type": "object",
            "properties": {
              "osNames": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "locales": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "appVersions": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid authentication",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
