{
  "openapi": "3.1.0",
  "info": {
    "title": "Counted API",
    "version": "0.1.0",
    "description": "Privacy-first product analytics. No cookies, no fingerprinting, no PII. Identity is optional and always supplied by the caller."
  },
  "servers": [
    {
      "url": "https://api.counted.dev"
    }
  ],
  "tags": [
    {
      "name": "health",
      "description": "Liveness and readiness"
    },
    {
      "name": "ingest",
      "description": "Writing events"
    },
    {
      "name": "read",
      "description": "Asking questions"
    },
    {
      "name": "auth",
      "description": "Signing in to the console"
    }
  ],
  "components": {
    "securitySchemes": {
      "ingestKey": {
        "type": "apiKey",
        "in": "header",
        "name": "Project-Key",
        "description": "A public ingest credential. Safe to embed; grants events:write and nothing else."
      },
      "serviceKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "A secret service credential, scoped to the operations it was issued for."
      },
      "shareToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "A share link token (st_…). Read-only, bound to one dashboard and the projects its tiles read, and expiring."
      }
    },
    "schemas": {
      "Liveness": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok"
            ]
          },
          "release": {
            "type": "string"
          },
          "uptimeSeconds": {
            "type": "integer"
          }
        },
        "required": [
          "status",
          "release",
          "uptimeSeconds"
        ]
      },
      "Readiness": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ready",
              "unavailable"
            ]
          },
          "release": {
            "type": "string"
          },
          "checkMs": {
            "type": "integer"
          },
          "store": {
            "type": "object",
            "properties": {
              "engine": {
                "type": "string"
              },
              "partitioning": {
                "type": "string",
                "enum": [
                  "declarative",
                  "hypertable",
                  "none"
                ]
              },
              "timescale": {
                "type": "boolean"
              },
              "approximateDistinct": {
                "type": "boolean"
              },
              "timeZone": {
                "type": "string"
              }
            },
            "required": [
              "engine",
              "partitioning",
              "timescale",
              "approximateDistinct",
              "timeZone"
            ]
          },
          "bucketContract": {
            "type": "object",
            "properties": {
              "verified": {
                "type": "boolean"
              },
              "samples": {
                "type": "integer"
              }
            },
            "required": [
              "verified"
            ]
          }
        },
        "required": [
          "status",
          "release",
          "checkMs"
        ]
      },
      "FieldError": {
        "type": "object",
        "properties": {
          "path": {
            "type": "string",
            "example": "events[1].name"
          },
          "code": {
            "type": "string",
            "example": "invalid_type"
          },
          "message": {
            "type": "string",
            "example": "Expected string, received number."
          },
          "allowed": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "path",
          "code",
          "message"
        ]
      },
      "Problem": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "https://counted.dev/errors/request.validation_failed"
          },
          "title": {
            "type": "string",
            "example": "Validation Failed"
          },
          "status": {
            "type": "integer",
            "example": 422
          },
          "code": {
            "type": "string",
            "enum": [
              "auth.unauthenticated",
              "auth.forbidden",
              "resource.not_found",
              "resource.conflict",
              "request.malformed",
              "request.validation_failed",
              "request.too_large",
              "request.unsupported_media_type",
              "quota.exceeded",
              "rate.limited",
              "billing.no_account",
              "billing.provider_unavailable",
              "query.timeout",
              "query.unsupported",
              "internal.unavailable",
              "internal.error"
            ],
            "description": "Stable machine-readable code. Branch on this, not on status or prose.",
            "example": "request.validation_failed"
          },
          "detail": {
            "type": "string",
            "example": "2 fields are invalid."
          },
          "requestId": {
            "type": "string",
            "example": "req_01J8ZQ5S0000000000000000"
          },
          "retryable": {
            "type": "boolean",
            "example": false
          },
          "docs": {
            "type": "string",
            "example": "https://counted.dev/docs/errors#request-validation_failed"
          },
          "instance": {
            "type": "string"
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FieldError"
            }
          },
          "retryAfter": {
            "type": "integer",
            "minimum": 0
          }
        },
        "required": [
          "type",
          "title",
          "status",
          "code",
          "detail",
          "requestId",
          "retryable",
          "docs"
        ]
      },
      "SignInRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "minLength": 3,
            "maxLength": 320,
            "format": "email",
            "example": "you@example.com"
          }
        },
        "required": [
          "email"
        ]
      },
      "Session": {
        "type": "object",
        "properties": {
          "account": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "acct_01J8ZQ"
              },
              "email": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "email"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "account",
          "expiresAt"
        ]
      },
      "RedeemSessionRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "minLength": 16,
            "maxLength": 512
          }
        },
        "required": [
          "token"
        ]
      },
      "IngestOutcome": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "index": {
                "type": "integer"
              },
              "accepted": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "deduplicated": {
                "type": "boolean"
              }
            },
            "required": [
              "index",
              "accepted",
              "deduplicated"
            ]
          },
          {
            "type": "object",
            "properties": {
              "index": {
                "type": "integer"
              },
              "accepted": {
                "type": "boolean",
                "enum": [
                  false
                ]
              },
              "reason": {
                "type": "string"
              }
            },
            "required": [
              "index",
              "accepted",
              "reason"
            ]
          }
        ]
      },
      "QuotaState": {
        "type": "object",
        "properties": {
          "state": {
            "type": "string",
            "enum": [
              "ok",
              "overage",
              "rejected"
            ]
          },
          "used": {
            "type": "integer"
          },
          "limit": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "state",
          "used",
          "limit"
        ]
      },
      "IngestReceipt": {
        "type": "object",
        "properties": {
          "accepted": {
            "type": "integer"
          },
          "deduplicated": {
            "type": "integer"
          },
          "rejected": {
            "type": "integer"
          },
          "outcomes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IngestOutcome"
            }
          },
          "quota": {
            "$ref": "#/components/schemas/QuotaState"
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "code": {
                  "type": "string",
                  "enum": [
                    "platform_unrecognised",
                    "occurred_at_missing"
                  ]
                },
                "detail": {
                  "type": "string"
                }
              },
              "required": [
                "index",
                "code"
              ]
            }
          },
          "committedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601, UTC",
            "example": "2026-03-17T14:37:00.000Z"
          }
        },
        "required": [
          "accepted",
          "deduplicated",
          "rejected",
          "outcomes",
          "quota",
          "committedAt"
        ]
      },
      "IngestEvent": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 1000
          },
          "visitId": {
            "type": "string",
            "maxLength": 500
          },
          "userId": {
            "type": "string",
            "maxLength": 500
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601, UTC",
            "example": "2026-03-17T14:37:00.000Z"
          },
          "idempotencyKey": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "anyOf": [
                {
                  "type": "string",
                  "maxLength": 10000
                },
                {
                  "type": "number"
                },
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          "systemProperties": {
            "type": "object",
            "additionalProperties": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        },
        "required": [
          "name",
          "visitId"
        ]
      },
      "IngestRequest": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IngestEvent"
            },
            "minItems": 1,
            "maxItems": 250
          }
        },
        "required": [
          "events"
        ]
      },
      "ReadoutValue": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "shape": {
                "type": "string",
                "enum": [
                  "scalar"
                ]
              },
              "value": {
                "type": "number"
              }
            },
            "required": [
              "shape",
              "value"
            ]
          },
          {
            "type": "object",
            "properties": {
              "shape": {
                "type": "string",
                "enum": [
                  "series"
                ]
              },
              "points": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "bucketStart": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO-8601, UTC",
                      "example": "2026-03-17T14:37:00.000Z"
                    },
                    "value": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "bucketStart",
                    "value"
                  ]
                }
              }
            },
            "required": [
              "shape",
              "points"
            ]
          },
          {
            "type": "object",
            "properties": {
              "shape": {
                "type": "string",
                "enum": [
                  "breakdown"
                ]
              },
              "rows": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string"
                    },
                    "value": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "label",
                    "value"
                  ]
                }
              }
            },
            "required": [
              "shape",
              "rows"
            ]
          },
          {
            "type": "object",
            "properties": {
              "shape": {
                "type": "string",
                "enum": [
                  "funnel"
                ]
              },
              "steps": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string"
                    },
                    "reached": {
                      "type": "integer"
                    },
                    "rate": {
                      "type": "number"
                    },
                    "cumulativeRate": {
                      "type": "number"
                    },
                    "droppedOff": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "label",
                    "reached",
                    "rate",
                    "cumulativeRate",
                    "droppedOff"
                  ]
                }
              },
              "overallRate": {
                "type": "number"
              }
            },
            "required": [
              "shape",
              "steps",
              "overallRate"
            ]
          },
          {
            "type": "object",
            "properties": {
              "shape": {
                "type": "string",
                "enum": [
                  "retention"
                ]
              },
              "offsets": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "cohorts": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "start": {
                      "type": "string",
                      "format": "date-time",
                      "description": "ISO-8601, UTC",
                      "example": "2026-03-17T14:37:00.000Z"
                    },
                    "size": {
                      "type": "integer"
                    },
                    "cells": {
                      "type": "array",
                      "items": {
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "offset": {
                            "type": "integer"
                          },
                          "returned": {
                            "type": "integer"
                          },
                          "rate": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "offset",
                          "returned",
                          "rate"
                        ]
                      }
                    }
                  },
                  "required": [
                    "start",
                    "size",
                    "cells"
                  ]
                }
              }
            },
            "required": [
              "shape",
              "offsets",
              "cohorts"
            ]
          }
        ]
      },
      "QueryResponse": {
        "type": "object",
        "properties": {
          "value": {
            "$ref": "#/components/schemas/ReadoutValue"
          },
          "computedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601, UTC",
            "example": "2026-03-17T14:37:00.000Z"
          }
        },
        "required": [
          "value",
          "computedAt"
        ]
      },
      "Measure": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "count"
                ]
              }
            },
            "required": [
              "kind"
            ]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "distinct"
                ]
              },
              "basis": {
                "type": "string",
                "enum": [
                  "visit",
                  "person"
                ]
              }
            },
            "required": [
              "kind",
              "basis"
            ]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "aggregate"
                ]
              },
              "fn": {
                "type": "string",
                "enum": [
                  "sum",
                  "avg",
                  "min",
                  "max"
                ]
              },
              "property": {
                "type": "string",
                "minLength": 1
              }
            },
            "required": [
              "kind",
              "fn",
              "property"
            ]
          }
        ]
      },
      "Predicate": {
        "type": "object",
        "description": "A filter expression. Leaves compare a field; `and`/`or`/`not` compose them. Ordering comparisons (gt/gte/lt/lte) take a number, which is what lets the compiler emit a guarded numeric cast."
      },
      "FieldRef": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "source": {
                "type": "string",
                "enum": [
                  "system"
                ]
              },
              "key": {
                "type": "string",
                "enum": [
                  "event_name",
                  "os_name",
                  "os_version",
                  "locale",
                  "app_version",
                  "device_model",
                  "country_code",
                  "sdk_version"
                ]
              }
            },
            "required": [
              "source",
              "key"
            ]
          },
          {
            "type": "object",
            "properties": {
              "source": {
                "type": "string",
                "enum": [
                  "property"
                ]
              },
              "key": {
                "type": "string",
                "minLength": 1
              }
            },
            "required": [
              "source",
              "key"
            ]
          }
        ]
      },
      "Grain": {
        "type": "string",
        "enum": [
          "hour",
          "day",
          "week",
          "month"
        ]
      },
      "Dimension": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "by": {
                "type": "string",
                "enum": [
                  "field"
                ]
              },
              "field": {
                "$ref": "#/components/schemas/FieldRef"
              }
            },
            "required": [
              "by",
              "field"
            ]
          },
          {
            "type": "object",
            "properties": {
              "by": {
                "type": "string",
                "enum": [
                  "time"
                ]
              },
              "grain": {
                "$ref": "#/components/schemas/Grain"
              }
            },
            "required": [
              "by",
              "grain"
            ]
          }
        ]
      },
      "Window": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "relative"
                ]
              },
              "amount": {
                "type": "integer",
                "exclusiveMinimum": 0
              },
              "unit": {
                "type": "string",
                "enum": [
                  "hour",
                  "day",
                  "week",
                  "month"
                ]
              }
            },
            "required": [
              "kind",
              "amount",
              "unit"
            ]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "absolute"
                ]
              },
              "from": {
                "type": "string",
                "format": "date-time",
                "description": "ISO-8601, UTC",
                "example": "2026-03-17T14:37:00.000Z"
              },
              "to": {
                "type": "string",
                "format": "date-time",
                "description": "ISO-8601, UTC",
                "example": "2026-03-17T14:37:00.000Z"
              }
            },
            "required": [
              "kind",
              "from",
              "to"
            ]
          }
        ]
      },
      "Analysis": {
        "type": "object",
        "properties": {
          "measure": {
            "$ref": "#/components/schemas/Measure"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            }
          },
          "where": {
            "$ref": "#/components/schemas/Predicate"
          },
          "groupBy": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dimension"
            }
          },
          "window": {
            "$ref": "#/components/schemas/Window"
          },
          "orderBy": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ]
          },
          "limit": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 1000
          }
        },
        "required": [
          "measure",
          "window"
        ]
      },
      "FunnelStep": {
        "type": "object",
        "properties": {
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            },
            "minItems": 1
          },
          "where": {
            "$ref": "#/components/schemas/Predicate"
          },
          "label": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "events"
        ]
      },
      "Funnel": {
        "type": "object",
        "properties": {
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FunnelStep"
            },
            "minItems": 2,
            "maxItems": 10
          },
          "window": {
            "$ref": "#/components/schemas/Window"
          },
          "conversionWindowMs": {
            "type": "integer",
            "exclusiveMinimum": 0
          },
          "basis": {
            "type": "string",
            "enum": [
              "visit",
              "person"
            ]
          },
          "where": {
            "$ref": "#/components/schemas/Predicate"
          }
        },
        "required": [
          "steps",
          "window",
          "conversionWindowMs"
        ]
      },
      "Retention": {
        "type": "object",
        "properties": {
          "window": {
            "$ref": "#/components/schemas/Window"
          },
          "grain": {
            "$ref": "#/components/schemas/Grain"
          },
          "periods": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 60
          },
          "basis": {
            "type": "string",
            "enum": [
              "person"
            ]
          },
          "startEvents": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            }
          },
          "returnEvents": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1
            }
          },
          "where": {
            "$ref": "#/components/schemas/Predicate"
          }
        },
        "required": [
          "window",
          "grain",
          "periods",
          "basis"
        ]
      },
      "Question": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "analysis"
                ]
              },
              "analysis": {
                "$ref": "#/components/schemas/Analysis"
              }
            },
            "required": [
              "kind",
              "analysis"
            ]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "funnel"
                ]
              },
              "funnel": {
                "$ref": "#/components/schemas/Funnel"
              }
            },
            "required": [
              "kind",
              "funnel"
            ]
          },
          {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "retention"
                ]
              },
              "retention": {
                "$ref": "#/components/schemas/Retention"
              }
            },
            "required": [
              "kind",
              "retention"
            ]
          }
        ]
      },
      "QueryRequest": {
        "type": "object",
        "properties": {
          "question": {
            "$ref": "#/components/schemas/Question"
          }
        },
        "required": [
          "question"
        ]
      },
      "ReadoutFailure": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "timeout",
              "unsupported",
              "store_unavailable",
              "invalid_request"
            ]
          },
          "detail": {
            "type": "string"
          },
          "retriable": {
            "type": "boolean"
          }
        },
        "required": [
          "code",
          "detail",
          "retriable"
        ]
      },
      "Readout": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "ok": {
                "type": "boolean",
                "enum": [
                  true
                ]
              },
              "value": {
                "$ref": "#/components/schemas/ReadoutValue"
              },
              "computedAt": {
                "type": "string",
                "format": "date-time",
                "description": "ISO-8601, UTC",
                "example": "2026-03-17T14:37:00.000Z"
              }
            },
            "required": [
              "id",
              "ok",
              "value",
              "computedAt"
            ]
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "ok": {
                "type": "boolean",
                "enum": [
                  false
                ]
              },
              "failure": {
                "$ref": "#/components/schemas/ReadoutFailure"
              }
            },
            "required": [
              "id",
              "ok",
              "failure"
            ]
          }
        ]
      },
      "DashboardDataResponse": {
        "type": "object",
        "properties": {
          "readouts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Readout"
            }
          },
          "statements": {
            "type": "integer"
          },
          "computedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601, UTC",
            "example": "2026-03-17T14:37:00.000Z"
          }
        },
        "required": [
          "readouts",
          "statements",
          "computedAt"
        ]
      },
      "PrincipalDescription": {
        "type": "object",
        "properties": {
          "principal": {
            "type": "string",
            "example": "service:cred_01J8ZQ"
          },
          "kind": {
            "type": "string",
            "enum": [
              "anonymous",
              "account",
              "ingest",
              "service",
              "share",
              "worker"
            ]
          },
          "scopeSource": {
            "type": "string",
            "enum": [
              "none",
              "credential",
              "membership"
            ]
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "workspaces": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "role": {
                  "type": "string",
                  "enum": [
                    "owner",
                    "admin",
                    "member"
                  ]
                }
              },
              "required": [
                "id",
                "name",
                "role"
              ]
            }
          }
        },
        "required": [
          "principal",
          "kind",
          "scopeSource",
          "scopes",
          "workspaces"
        ]
      },
      "Member": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "member"
            ]
          },
          "since": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601, UTC",
            "example": "2026-03-17T14:37:00.000Z"
          }
        },
        "required": [
          "accountId",
          "role",
          "since"
        ]
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "members": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Member"
            }
          },
          "projects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                },
                "state": {
                  "type": "string",
                  "enum": [
                    "active",
                    "archived"
                  ]
                }
              },
              "required": [
                "id",
                "name",
                "state"
              ]
            }
          },
          "limits": {
            "type": "object",
            "properties": {
              "maxProjects": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "maxSeats": {
                "type": [
                  "integer",
                  "null"
                ]
              }
            },
            "required": [
              "maxProjects",
              "maxSeats"
            ]
          }
        },
        "required": [
          "id",
          "name",
          "members",
          "projects",
          "limits"
        ]
      },
      "UpdateWorkspaceRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        },
        "required": [
          "name"
        ]
      },
      "Credential": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "ingest",
              "service"
            ]
          },
          "label": {
            "type": "string"
          },
          "prefix": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "events:write",
                "events:read",
                "queries:run",
                "projects:read",
                "projects:write",
                "projects:delete",
                "dashboards:read",
                "dashboards:write",
                "monitors:read",
                "monitors:write",
                "credentials:read",
                "credentials:write",
                "workspace:read",
                "workspace:admin",
                "billing:read",
                "billing:write"
              ]
            }
          },
          "issuedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601, UTC",
            "example": "2026-03-17T14:37:00.000Z"
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO-8601, UTC",
            "example": "2026-03-17T14:37:00.000Z"
          },
          "revokedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO-8601, UTC",
            "example": "2026-03-17T14:37:00.000Z"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "expiring",
              "revoked",
              "expired"
            ]
          }
        },
        "required": [
          "id",
          "kind",
          "label",
          "prefix",
          "scopes",
          "issuedAt",
          "expiresAt",
          "revokedAt",
          "status"
        ]
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "workspaceId": {
            "type": [
              "string",
              "null"
            ]
          },
          "state": {
            "type": "string",
            "enum": [
              "unclaimed",
              "claimed"
            ]
          },
          "credentials": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Credential"
            }
          }
        },
        "required": [
          "id",
          "name",
          "workspaceId",
          "state",
          "credentials"
        ]
      },
      "ProjectList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Project"
            }
          }
        },
        "required": [
          "items"
        ]
      },
      "IssuedCredential": {
        "type": "object",
        "properties": {
          "credential": {
            "$ref": "#/components/schemas/Credential"
          },
          "secret": {
            "type": "string",
            "description": "Shown exactly once and never retrievable. Store it now."
          }
        },
        "required": [
          "credential",
          "secret"
        ]
      },
      "CreateProjectRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateProjectRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        },
        "required": [
          "name"
        ]
      },
      "CredentialList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Credential"
            }
          }
        },
        "required": [
          "items"
        ]
      },
      "IssueCredentialRequest": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "ingest",
              "service"
            ]
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "events:write",
                "events:read",
                "queries:run",
                "projects:read",
                "projects:write",
                "projects:delete",
                "dashboards:read",
                "dashboards:write",
                "monitors:read",
                "monitors:write",
                "credentials:read",
                "credentials:write",
                "workspace:read",
                "workspace:admin",
                "billing:read",
                "billing:write"
              ]
            }
          }
        },
        "required": [
          "kind",
          "label"
        ]
      },
      "RotateCredentialRequest": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "overlapHours": {
            "type": "integer",
            "minimum": 0,
            "maximum": 720,
            "default": 24
          }
        },
        "required": [
          "label"
        ]
      },
      "Tile": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "width": {
            "type": "integer",
            "minimum": 1,
            "maximum": 12
          },
          "content": {}
        },
        "required": [
          "id",
          "title",
          "projectId",
          "width"
        ]
      },
      "Dashboard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workspaceId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isDefault": {
            "type": "boolean"
          },
          "tiles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tile"
            }
          },
          "share": {
            "type": "object",
            "properties": {
              "active": {
                "type": "boolean"
              },
              "expiresAt": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "description": "ISO-8601, UTC",
                "example": "2026-03-17T14:37:00.000Z"
              }
            },
            "required": [
              "active",
              "expiresAt"
            ]
          }
        },
        "required": [
          "id",
          "workspaceId",
          "name",
          "isDefault",
          "tiles",
          "share"
        ]
      },
      "DashboardList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Dashboard"
            }
          }
        },
        "required": [
          "items"
        ]
      },
      "CreateDashboardRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "isDefault": {
            "type": "boolean"
          }
        },
        "required": [
          "name"
        ]
      },
      "UpdateDashboardRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        },
        "required": [
          "name"
        ]
      },
      "Monitor": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "projectId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "analysis": {},
          "threshold": {},
          "cooldownMs": {
            "type": "integer"
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "enum": [
                    "email",
                    "webhook"
                  ]
                },
                "target": {
                  "type": "string"
                }
              },
              "required": [
                "kind",
                "target"
              ]
            }
          },
          "enabled": {
            "type": "boolean"
          },
          "state": {
            "type": "string",
            "enum": [
              "ok",
              "breaching"
            ]
          },
          "lastNotifiedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO-8601, UTC",
            "example": "2026-03-17T14:37:00.000Z"
          },
          "lastValue": {
            "type": [
              "number",
              "null"
            ]
          }
        },
        "required": [
          "id",
          "projectId",
          "name",
          "cooldownMs",
          "channels",
          "enabled",
          "state",
          "lastNotifiedAt",
          "lastValue"
        ]
      },
      "MonitorList": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Monitor"
            }
          }
        },
        "required": [
          "items"
        ]
      },
      "UpdateMonitorRequest": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          }
        },
        "required": [
          "enabled"
        ]
      },
      "ShareGranted": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "Shown exactly once and never retrievable."
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO-8601, UTC",
            "example": "2026-03-17T14:37:00.000Z"
          },
          "dashboard": {
            "$ref": "#/components/schemas/Dashboard"
          }
        },
        "required": [
          "token",
          "expiresAt",
          "dashboard"
        ]
      },
      "CreateShareRequest": {
        "type": "object",
        "properties": {
          "expiresInHours": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 8760,
            "default": 720
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "events": {
            "type": "object",
            "properties": {
              "used": {
                "type": "integer"
              },
              "limit": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "state": {
                "type": "string",
                "enum": [
                  "ok",
                  "overage",
                  "rejected"
                ]
              }
            },
            "required": [
              "used",
              "limit",
              "state"
            ]
          },
          "projects": {
            "type": "object",
            "properties": {
              "used": {
                "type": "integer"
              },
              "limit": {
                "type": [
                  "integer",
                  "null"
                ]
              }
            },
            "required": [
              "used",
              "limit"
            ]
          },
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "pro"
            ]
          },
          "inGrace": {
            "type": "boolean"
          }
        },
        "required": [
          "events",
          "projects",
          "plan",
          "inGrace"
        ]
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string",
            "enum": [
              "free",
              "pro"
            ]
          },
          "paymentState": {
            "type": "string",
            "enum": [
              "none",
              "active",
              "past_due",
              "canceled"
            ]
          },
          "inGrace": {
            "type": "boolean"
          },
          "renewsAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "ISO-8601, UTC",
            "example": "2026-03-17T14:37:00.000Z"
          },
          "limits": {
            "type": "object",
            "properties": {
              "eventsPerMonth": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "projects": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "seats": {
                "type": [
                  "integer",
                  "null"
                ]
              },
              "retentionDays": {
                "type": [
                  "integer",
                  "null"
                ]
              }
            },
            "required": [
              "eventsPerMonth",
              "projects",
              "seats",
              "retentionDays"
            ]
          },
          "hasBillingAccount": {
            "type": "boolean"
          }
        },
        "required": [
          "plan",
          "paymentState",
          "inGrace",
          "renewsAt",
          "limits",
          "hasBillingAccount"
        ]
      },
      "HostedSession": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Where to send the browser. Short-lived."
          }
        },
        "required": [
          "url"
        ]
      },
      "CheckoutSessionRequest": {
        "type": "object",
        "properties": {
          "cadence": {
            "type": "string",
            "enum": [
              "monthly",
              "annual"
            ],
            "default": "monthly"
          }
        }
      },
      "WebhookAck": {
        "type": "object",
        "properties": {
          "received": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "applied": {
            "type": "boolean"
          },
          "reason": {
            "type": "string"
          },
          "entitlementChanged": {
            "type": "boolean"
          }
        },
        "required": [
          "received",
          "applied"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Liveness",
        "description": "Is this process running? Never touches the database, so a database blip cannot cause a restart loop.",
        "tags": [
          "health"
        ],
        "responses": {
          "200": {
            "description": "Alive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Liveness"
                }
              }
            }
          }
        },
        "operationId": "getLiveness"
      }
    },
    "/health/ready": {
      "get": {
        "summary": "Readiness",
        "description": "Can this instance serve traffic? Pings the store and reports what it verified at boot.",
        "tags": [
          "health"
        ],
        "responses": {
          "200": {
            "description": "Ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Readiness"
                }
              }
            }
          },
          "503": {
            "description": "Not ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Readiness"
                }
              }
            }
          }
        },
        "operationId": "getReadiness"
      }
    },
    "/v1/auth/sign-in": {
      "post": {
        "summary": "Request a sign-in link",
        "description": "Mails a single-use link. Answers 202 for any valid address whether or not an account exists — telling the two apart would be an oracle for discovering who uses Counted. Signing up and signing in are one flow.",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignInRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The link has been sent, if the address can receive mail."
          },
          "422": {
            "description": "Not a valid email address",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "requestSignInLink"
      }
    },
    "/v1/auth/session": {
      "post": {
        "summary": "Redeem a sign-in link",
        "description": "Spends the token once and sets an HttpOnly session cookie on the registrable domain, so the console and the API share it. An unknown token and an expired one are refused identically.",
        "tags": [
          "auth"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedeemSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Signed in",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Session"
                }
              }
            }
          },
          "401": {
            "description": "The link is expired, spent, or was never issued",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "createSession",
        "x-counted-invalidates": [
          "me"
        ]
      },
      "delete": {
        "summary": "Sign out",
        "description": "Ends this session and clears the cookie. Succeeds even if the session had already expired.",
        "tags": [
          "auth"
        ],
        "responses": {
          "204": {
            "description": "Signed out"
          }
        },
        "operationId": "endSession",
        "x-counted-invalidates": [
          "me"
        ]
      }
    },
    "/v1/events": {
      "post": {
        "summary": "Ingest events",
        "description": "Accepts up to 50 events. Resolves only after the batch is durably committed, so a 202 means the data is written. Every event gets its own outcome, and the quota state is named rather than implied.",
        "tags": [
          "ingest"
        ],
        "security": [
          {
            "ingestKey": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IngestRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Committed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngestReceipt"
                }
              }
            }
          },
          "400": {
            "description": "The batch could not be read",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential may not write events",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "413": {
            "description": "Payload too large",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited; see Retry-After",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "The store is unavailable; retry",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "ingestEvents"
      }
    },
    "/v1/projects/{projectId}/query": {
      "post": {
        "summary": "Run an analysis",
        "description": "Answers one question — an analysis, a funnel or a retention grid. The response is tagged with its shape; the caller never has to infer it.",
        "tags": [
          "read"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "projectId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          },
          "400": {
            "description": "The analysis is not well formed",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential may not read this project",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "504": {
            "description": "The query exceeded its budget",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "runQuery"
      }
    },
    "/v1/dashboards/{dashboardId}/data": {
      "post": {
        "summary": "Render a dashboard",
        "description": "Answers every tile on a dashboard in one batch. A tile that fails comes back as a failed readout rather than as an empty one, so a broken query is distinguishable from a project with no events.",
        "tags": [
          "read"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "dashboardId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "One readout per tile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardDataResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential may not read this dashboard",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such dashboard",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "503": {
            "description": "The store is unavailable",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "renderDashboard"
      }
    },
    "/v1/me": {
      "get": {
        "summary": "Describe the caller",
        "description": "Reports who the credential belongs to and which scopes it carries, so a 403 can be diagnosed without guesswork. An anonymous caller is told it is anonymous rather than refused.",
        "tags": [
          "read"
        ],
        "responses": {
          "200": {
            "description": "The caller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrincipalDescription"
                }
              }
            }
          }
        },
        "operationId": "describeCaller",
        "x-counted-provides": [
          "me"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}": {
      "get": {
        "summary": "Read a workspace",
        "tags": [
          "manage"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required scope",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or it is not yours",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "getWorkspace",
        "x-counted-provides": [
          "workspace:{workspaceId}"
        ]
      },
      "patch": {
        "summary": "Rename a workspace",
        "tags": [
          "manage"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkspaceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The workspace",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required scope",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or it is not yours",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "updateWorkspace",
        "x-counted-invalidates": [
          "workspace:{workspaceId}"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/projects": {
      "get": {
        "summary": "List projects",
        "description": "Metadata only. Credentials appear as prefixes and scopes; no secret, digest or claim token is ever included.",
        "tags": [
          "manage"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The workspace's projects",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectList"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required scope",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or it is not yours",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "listProjects",
        "x-counted-provides": [
          "projects:{workspaceId}"
        ]
      },
      "post": {
        "summary": "Create a project",
        "description": "Returns the project and its first ingest credential. The secret is shown exactly once.",
        "tags": [
          "manage"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The project and its first credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuedCredential"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required scope",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or it is not yours",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "createProject",
        "x-counted-invalidates": [
          "projects:{workspaceId}"
        ]
      }
    },
    "/v1/projects/{projectId}": {
      "get": {
        "summary": "Read a project",
        "tags": [
          "manage"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "projectId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required scope",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or it is not yours",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "getProject",
        "x-counted-provides": [
          "project:{projectId}"
        ]
      },
      "patch": {
        "summary": "Rename a project",
        "tags": [
          "manage"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "projectId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required scope",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or it is not yours",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "updateProject",
        "x-counted-invalidates": [
          "project:{projectId}",
          "projects"
        ]
      }
    },
    "/v1/projects/{projectId}/credentials": {
      "get": {
        "summary": "List credentials",
        "description": "Metadata only — prefix, scopes and status. A secret is never retrievable after it is issued.",
        "tags": [
          "manage"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "projectId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The project's credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CredentialList"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required scope",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or it is not yours",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "listCredentials",
        "x-counted-provides": [
          "credentials:{projectId}"
        ]
      },
      "post": {
        "summary": "Issue a credential",
        "description": "The secret is returned once, here, and never again.",
        "tags": [
          "manage"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "projectId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssueCredentialRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The credential and its secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuedCredential"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required scope",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or it is not yours",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "issueCredential",
        "x-counted-invalidates": [
          "credentials:{projectId}"
        ]
      }
    },
    "/v1/projects/{projectId}/credentials/{credentialId}/rotate": {
      "post": {
        "summary": "Rotate a credential",
        "description": "Issues a replacement while the old secret keeps working for the overlap window, so deployed clients are not broken at the instant of the click.",
        "tags": [
          "manage"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "projectId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "credentialId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateCredentialRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new credential and its secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssuedCredential"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required scope",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or it is not yours",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "rotateCredential",
        "x-counted-invalidates": [
          "credentials:{projectId}"
        ]
      }
    },
    "/v1/projects/{projectId}/credentials/{credentialId}": {
      "delete": {
        "summary": "Revoke a credential",
        "tags": [
          "manage"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "projectId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "credentialId",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked"
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required scope",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or it is not yours",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "revokeCredential",
        "x-counted-invalidates": [
          "credentials:{projectId}"
        ]
      }
    },
    "/v1/workspaces/{workspaceId}/dashboards": {
      "get": {
        "summary": "List dashboards",
        "tags": [
          "manage"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The workspace's dashboards",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardList"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required scope",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or it is not yours",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "listDashboards",
        "x-counted-provides": [
          "dashboards:{workspaceId}"
        ]
      },
      "post": {
        "summary": "Create a dashboard",
        "description": "Created empty. Tiles are added deliberately rather than guessed at.",
        "tags": [
          "manage"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "workspaceId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDashboardRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The dashboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required scope",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or it is not yours",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "createDashboard",
        "x-counted-invalidates": [
          "dashboards:{workspaceId}"
        ]
      }
    },
    "/v1/dashboards/{dashboardId}": {
      "get": {
        "summary": "Read a dashboard",
        "tags": [
          "manage"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "dashboardId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The dashboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required scope",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or it is not yours",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "getDashboard",
        "x-counted-provides": [
          "dashboard:{dashboardId}"
        ]
      },
      "patch": {
        "summary": "Rename a dashboard",
        "tags": [
          "manage"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "dashboardId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDashboardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The dashboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required scope",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or it is not yours",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "updateDashboard",
        "x-counted-invalidates": [
          "dashboard:{dashboardId}",
          "dashboards"
        ]
      },
      "delete": {
        "summary": "Delete a dashboard",
        "tags": [
          "manage"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "dashboardId",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required scope",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or it is not yours",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "deleteDashboard",
        "x-counted-invalidates": [
          "dashboard:{dashboardId}",
          "dashboards"
        ]
      }
    },
    "/v1/projects/{projectId}/monitors": {
      "get": {
        "summary": "List monitors",
        "description": "Delivery targets are reduced to a host or a masked address; a webhook URL can carry a token.",
        "tags": [
          "manage"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "projectId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The project's monitors",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorList"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required scope",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or it is not yours",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "listMonitors",
        "x-counted-provides": [
          "monitors:{projectId}"
        ]
      }
    },
    "/v1/monitors/{monitorId}": {
      "get": {
        "summary": "Read a monitor",
        "tags": [
          "manage"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "monitorId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "The monitor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required scope",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or it is not yours",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "getMonitor",
        "x-counted-provides": [
          "monitor:{monitorId}"
        ]
      },
      "patch": {
        "summary": "Enable or disable a monitor",
        "tags": [
          "manage"
        ],
        "security": [
          {
            "serviceKey": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "monitorId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMonitorRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The monitor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                }
              }
            }
          },
          "401": {
            "description": "Missing or unknown credential",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "403": {
            "description": "The credential lacks the required scope",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or it is not yours",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "operationId": "updateMonitor",
        "x-counted-invalidates": [
          "monitor:{monitorId}",
          "monitors"
[...]
